{% extends 'templates/app.twig' %}


{% block content %}

    <h1>Settings</h1></h1>

    <div>

        <ul style="padding:0;list-style: none;">

            <li><a href="{{ path_for('manageusers.index') }}">Manage Users</a></li>

        </ul>

    </div>

{% endblock %}